<p id="notice"><%= notice %></p>

<h1>Posts</h1>


<div class="card">
     
  
    <% @posts.each do |post| %>
      <div>
      <%= post.body %>
      
        <span><%= link_to 'Show', post %></span>
        <span><%= link_to 'Edit', edit_post_path(post) %></span>
        <span><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>
    </div>
  


<br>

<%= link_to 'New Post', new_post_path %>
